@use "../generals/mixins" as *;
.newarrivals {
  margin: 72px 0;
  &__wrap {
    @include d-flex(center, unset, 55, column);
  }
  &__cards {
    @include d-flex(unset, space-between,0, unset);
    flex-wrap: wrap;
    width: 100%;
    
    @include media(650) {
      justify-content: space-between;
    }

    &__item {
      border-radius: 20px;
      width: calc(25% - 20px);
      min-height: 500px;
      margin-bottom: 40px;
      position: relative;
      @include d-flex(start, start, 0, column);
      animation: animationReveal both;
      animation-timeline: view(70% 20%);
      @keyframes animationReveal {
        from {
          opacity: 0;
          scale: 0.95;
          translate: 0 4rem;
        }
        to {
          filter: none;
          opacity: 1;
          scale: 1;
          translate: 0 0;
        }
      }
      @include media(850) {
       
        width: calc(33.3% - 20px);
      }
      
      @include media(650) {
        width: calc(50% - 10px);
      }
      @include media(550){
        min-height: 330px;
      }
      @include media(450){
        min-height: 230px;
      }
    }
    &-img {
      width: 100%;
      min-height: 380px;
      max-height: 380px;
      height: 100%;
      border-radius: 20px;
      overflow: hidden;
      position: relative;
      background-color: #f0eeed;
      border: 1px solid #f0eeed;
      cursor: pointer;
      @include media(750){
        @include d-flex(center,center, 0,unset);
      }
      @include media(550){
        min-height: 270px;
        max-height: 270px;
      }
      @include media(450){
        min-height: 200px;
        max-height: 200px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include media(750){
          height: 80%;
              
        }
        @include media(650){
          height: 100%;
        }
        @include media(550){
           width: 90%;
        height: 90%;
        object-fit: cover;
        }
        @include media(450){
           width: 100%;
        height: 100%;
        object-fit: cover;
        }
      }
    }
    &-title {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 20px;
      color: #000;
      margin: 12px 0;
      @include media(1230) {
        font-size: 18px;
      }
      @include media(855) {
        font-size: 17px;
      }
      @include media(855) {
        font-size: 16px;
      }
      @include media(500) {
        text-transform: lowercase;
        margin: 0;
        margin-top: 10px;
      }
    }
    &-price {
      @include d-flex(center, unset, 10, unset);
    }
    &-new-price {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 24px;
      color: #000;
      @include media(1000) {
        font-size: 20px;
      }
      @include media(500) {
        font-size: 18px;
      }
      @include media(400){
        font-size: 16px;
      }
    }
    &-old-price {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 24px;
      text-decoration: line-through;
      color: #00000066;
        @include media(1000) {
          font-size: 20px;
        }
        @include media(500) {
          font-size: 18px;
        }
        @include media(400){
          font-size: 16px;
        }
    }
    &-discount {
      border-radius: 62px;
      padding: 6px 14px;
      background: #ff33331a;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 12px;
      color: #f33;
      @include media(500) {
        font-size: 10px;
        padding: 6px 14px;
      }
      @include media(450) {
        padding: 6px;
        font-size: 8px;
      }
    }
    &-rangs {
      width: 100%;
      small{
        li{
          width: 15px;
          svg{
            width: 15px;
          }
        }
      }
    }
    &-basket {
      position: absolute;
      cursor: pointer;
      top: 67%;
      right: 25px;
      scale: 1.4;
      &:hover {
        transition: all .3s ease-in-out;
        scale: 2;
        @include media(500) {
          scale: 1.4;
        }
      }
      @include media(550) {
        right: 15px;
        top: 63%;
        scale: 1.2;
      }
      @include media(450) {
        right: 15px;
        top: 55%;
        scale: 1.2;
      }
    }
  }
  &-title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #000;
    @include media(700) {
      font-size: 42px;
    }
    @include media(500) {
      font-size: 34px;
    }
  }
  &__button {
    border: 1px solid #0000001a;
    border-radius: 62px;
    padding: 16px 54px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    color: #000;
    @include media(885) {
      padding: 16px 40px;
    }
    @include media(650) {
      width: 100%;
    }
    @include media(500) {
      font-size: 14px;
    }
  }
  &__loader {
    width: 281px;
    height: 390px;
    @include d-flex(center, center, 0, unset);
  }
  &__loader-img {
    width: 45px;
    height: 40px;
    background:
      linear-gradient(
        #0000 calc(1 * 100% / 6),
        #000000 0 calc(3 * 100% / 6),
        #0000 0
      ),
      linear-gradient(
        #0000 calc(2 * 100% / 6),
        #000000 0 calc(4 * 100% / 6),
        #0000 0
      ),
      linear-gradient(
        #0000 calc(3 * 100% / 6),
        #000000 0 calc(5 * 100% / 6),
        #0000 0
      );
    background-size: 10px 400%;
    background-repeat: no-repeat;
    animation: matrix 1s infinite linear;

    @keyframes matrix {
      0% {
        background-position:
          0% 100%,
          50% 100%,
          100% 100%;
      }

      100% {
        background-position:
          0% 0%,
          50% 0%,
          100% 0%;
      }
    }
  }
}
